.hero-section {
	background-image: url("/src/assets/hero-bg.png");
	width: 100%;
	height: 100vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 3;
}

.hero-content {
	width: 100%;
	height: 100vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.hero-title h1 {
	font-size: 6rem;
	color: white;
	line-height: 1.2;
	margin-bottom: 3rem;
}

a {
	background-color: white;
	color: black;
	font-size: 1.8rem;
	font-weight: 500;
	margin: 2rem 0;
	border: none;
	padding: .7rem 2.7rem;
	border-radius: 2.3rem;
	cursor: pointer;
	box-shadow: 0 4px 6px -1px white;
	transition: all .3s;
}

a:hover {
	color: white;
	background-color: black;
	box-shadow: 0 4px 6px -1px black;
}

.shoe-img {
	width: 60rem;
	transition: all .5s;
}

.hero-title,
.shoe-img img {
	width: 60rem;
	transition: all .5s;
}

.shoe-img:hover {
	transform: rotate(-22deg);
}

@media (max-width: 768px) {
	.hero-section {
		padding-top: 15rem;
		width: 100%;
	}

	.hero-content {
		height: auto;
	}

	.hero-title h1 {
		font-size: 4rem;
	}

	.shoe-img,
	.hero-title,
	.shoe-img img {
		width: 75%;
	}
}